<template>
  <DefaultLayout>
    <!--No Installer-->
    <div v-if="$page.device.noInstall" class="banner-grey no-installer py-4">
      <p class="h6">
        <a v-if="$page.device.installLink" :href="$page.device.installLink"
          >This device hasn’t been added to the UBports Installer yet. Click
          here to find installation instructions.</a
        >
        <span v-else-if="$page.device.content"
          >This device hasn’t been added to the UBports Installer yet.
        </span>
        <span v-else
          >This device hasn’t been added to the UBports Installer yet.
          Installation instructions <b>not available</b> at the moment.</span
        >
      </p>
    </div>

    <!-- Heading -->
    <div id="deviceOverview" class="heading mt-lg-5">
      <!-- Title -->
      <a
        :href="
          'https://devices.ubuntu-touch.io/device/' +
          $page.device.codename +
          '/'
        "
        :title="$page.device.name + ' can be a Linux phone'"
      >
        <h1 class="h3">{{ $page.device.name }}</h1>
      </a>
    </div>

    <!-- Tags -->
    <MetaLine
      :port-type="$page.device.portType"
      :codename="$page.device.codename"
      :name="$page.device.name"
      :no-install="$page.device.noInstall"
      :is-convergence-enabled="$page.device.isConvergenceEnabled"
      :disable-buy-link="$page.device.disableBuyLink"
      :buy-link="$page.device.buyLink"
      :price="$page.device.price"
    />

    <!--Description-->
    <div v-if="$page.device.description">
      <p class="small mb-2 mt-4 light">Description</p>
      <p class="col-mb-2">{{ $page.device.description }}</p>
    </div>

    <!-- Unmaintained -->
    <div
      v-if="$page.device.tag == 'unmaintained'"
      class="banner-grey unmaintained bold py-4"
    >
      <p>
        This device is not maintained, nobody is actively developing it and it
        will not receive fixes for known issues.
      </p>
      <p>
        If you are a developer we encourage you to contact the porter to
        continue development.
      </p>
    </div>

    <!-- TODO: 20.04 drop warning (enable for Halium 5.1 and Legacy when ready) -->
    <div v-if="false" class="banner-grey unmaintained py-4">
      <h4 class="mb-2">This device might be dropped soon</h4>
      <p>
        This device might <span class="bold">cease to get OTA updates</span> and
        security updates contained in them when Ubuntu Touch is updated to the
        Ubuntu 20.04 base.
      </p>
    </div>

    <PortStatus
      id="portStatus"
      :port-status="$page.device.portStatus"
      :progress-stage="$page.device.progressStage"
      :untested-count="$page.device.untestedCount"
      :progress="$page.device.progress"
      :next-progress-stage="$page.device.nextProgressStage ? true : false"
      :next-stage-requirements="$page.device.nextStageRequirements"
      :progress-advancement="$page.device.progressAdvancement"
      class="mt-5"
    />

    <HelpTest
      v-if="$page.device.untestedCount > 0"
      id="helpWanted"
      class="banner-grey d-print-none"
      :name="$page.device.name"
      :untested-count="$page.device.untestedCount"
      :contributors="$page.device.contributors"
    />

    <HelpMaintain
      v-else-if="!$page.device.noInstall && $page.device.progress > 95"
      id="helpWanted"
      class="banner-grey mt-5"
    />

    <ReleaseChannels
      v-if="$page.device.releaseChannels.length"
      id="releaseChannels"
      :release-channels="$page.device.releaseChannels"
    />

    <DeviceInfo
      v-if="$page.device.deviceInfo.length"
      id="deviceSpec"
      :device-info="$page.device.deviceInfo"
      :name="$page.device.name"
      class="mt-5"
    />

    <div class="markdown-content mt-5" v-html="$page.device.content"></div>

    <!-- Docs -->
    <PortDocs
      v-if="$page.device.portType || $page.device.docLinks.length"
      id="docLinks"
      class="row no-gutters mt-5"
      :port-type="$page.device.portType"
      :port-type-description="$page.device.portTypeDescription"
      :doc-links="$page.device.docLinks"
    />

    <!-- Contributors & Discussions -->
    <ContributorLinks
      v-if="
        $page.device.contributors.length || $page.device.externalLinks.length
      "
      id="portContributors"
      class="contributors-discussions d-print-none"
      :external-links="$page.device.externalLinks"
      :contributors="$page.device.contributors"
    />

    <InstallerBanner v-if="!$page.device.noInstall" id="installerDownload" />

    <!-- Read more -->
    <CommunityResources
      v-if="
        !$page.device.noInstall &&
        $page.device.untestedCount == 0 &&
        $page.device.progress > 95
      "
      class="pt-5 d-print-none"
    />

    <NavMenu :available-data="$page.device.enabledSections" />
    <FlagIssue
      :device-name="$page.device.name"
      :device-codename="$page.device.codename"
    />
    <DiscussionsBar
      :device-name="$page.device.name"
      :developer-report="$page.device.path"
      :invalid-prop-count="$page.device.notValid.length"
      :community-links="$page.device.communityHelp"
      :forum-topics="$page.device.forumTopics"
      :subforum-link="
        'https://forums.ubports.com/category/' + $page.device.subforum
      "
    />
  </DefaultLayout>
</template>

<page-query>
query ($id: ID!) {
  device(id: $id) {
    name
    codename
    path(to:"developer")
    portType
    portTypeDescription
    deviceType
    progress
    progressStage { name description }
    nextProgressStage { name }
    nextStageRequirements
    progressAdvancement
    noInstall
    installLink
    buyLink
    disableBuyLink
    price
    description
    tag
    isConvergenceEnabled
    subforum
    content
    notValid
    untestedCount
    portStatus {
      categoryName
      features { name value bugTracker global }
    }
    releaseChannels {
      ubuntuRelease channel version releaseDate(format: "DD-MM-YYYY") description
    }
    deviceInfo {
      name value
    }
    contributors {
      name photo forum
    }
    communityHelp {
      name link icon
    }
    externalLinks {
      name link icon
    }
    docLinks {
      name link
    }
    forumTopics {
      title user timestamp views link locked pinned
    }
    enabledSections {
      portStatus deviceSpec helpWanted docLinks portContributors installerDownload discussionsbar
    }
    seo { description keywords }
  }
}
</page-query>

<script>
import MetaLine from "~/components/devices/MetaLine.vue";
import PortStatus from "~/components/devices/PortStatus.vue";
import HelpMaintain from "~/components/devices/HelpMaintain.vue";
import HelpTest from "~/components/devices/HelpTest.vue";
import DeviceInfo from "~/components/devices/DeviceInfo.vue";
import ReleaseChannels from "~/components/devices/ReleaseChannels.vue";
import InstallerBanner from "~/components/devices/InstallerBanner.vue";
import PortDocs from "~/components/devices/PortDocs.vue";
import ContributorLinks from "~/components/devices/ContributorLinks.vue";
import CommunityResources from "~/components/banners/CommunityResources.vue";

import FlagIssue from "~/components/devices/FlagIssue.vue";
import DiscussionsBar from "~/components/devices/DiscussionsBar.vue";

import NavMenu from "~/components/devices/NavMenu.vue";

export default {
  metaInfo() {
    return {
      title: this.$page.device.name,
      meta: [
        {
          name: "keywords",
          content: this.$page.device.seo
            ? this.$page.device.seo.keywords
            : "Ubuntu Touch, " +
              this.$page.device.name +
              ", Privacy phone, Linux smartphone, Linux on mobile"
        },
        {
          name: "description",
          content: this.$page.device.seo
            ? this.$page.device.seo.description
            : "Flash your " +
              this.$page.device.name +
              " with the latest version of the Ubuntu Touch operating system, a privacy focused OS developed by hundreds of people."
        },
        {
          property: "og:url",
          content: "https://devices.ubuntu-touch.io" + this.$route.path
        },
        {
          property: "og:title",
          content: this.$page.device.name + " • Ubuntu Touch • Linux Phone"
        },
        {
          property: "og:description",
          content: this.$page.device.seo
            ? this.$page.device.seo.description
            : "Flash your " +
              this.$page.device.name +
              " with the latest version of the Ubuntu Touch operating system, a privacy focused OS developed by hundreds of people."
        }
      ]
    };
  },
  components: {
    DiscussionsBar,
    FlagIssue,
    NavMenu,
    PortStatus,
    DeviceInfo,
    ReleaseChannels,
    InstallerBanner,
    PortDocs,
    ContributorLinks,
    CommunityResources,
    HelpMaintain,
    HelpTest,
    MetaLine
  }
};
</script>
