<template>
  <!-- Contributors & Discussions -->
  <div>
    <!-- Discussions -->
    <div v-if="externalLinks.length" class="discussions">
      <h2 class="mt-5 mb-3 h3">Port Resources</h2>
      <ul>
        <!-- Link -->
        <li v-for="link in externalLinks" :key="link.name">
          <a :href="link.link">
            <g-image
              :src="
                require(`!!assets-loader!@/assets/img/services/${link.icon}.svg`)
              "
              alt="link-icon"
              class="dark-invert-40 ext-link-icon"
            />
            {{ link.name }}
          </a>
        </li>
      </ul>
    </div>

    <!-- Contributors -->
    <div v-if="contributors.length" class="contributors">
      <h2 class="mt-5 mb-3 h3">Maintainers</h2>
      <ul>
        <!-- Person -->
        <li v-for="person in contributors" :key="person.name">
          <a :href="person.forum">
            <g-image
              v-if="person.photo"
              :src="require(`!!assets-loader!@/${person.photo}`)"
              alt="person-img"
            />
            <g-image v-else src="~/assets/img/yumi3d.jpg" alt="person-img" />
            <p>{{ person.name }}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "ContributorLinks",
  props: {
    externalLinks: {
      type: Array,
      default: function () {
        return [];
      }
    },
    contributors: {
      type: Array,
      default: function () {
        return [];
      }
    }
  }
};
</script>
